<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
    <link rel="stylesheet" href="/static/PredictionPage.css">
    <link rel="stylesheet" type = "text/css" href ="/static/bootstrap.min.css">
  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap.min.js"></script>

</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </button>

  <script type="text/javascript">
    window.onscroll = function()
    {
      scrollFunction()
    };

    function scrollFunction(){
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
<div class="container">
  <div class="jumbotron">
    <h1>Employee performance prediction </h1>
   <h1>Hello! </h1>
   <p>Please enter the below values </p>
  </div>
  </div>
<div class="container">
  <div class="container">
    <div class="col">
    </div>
  </div>
  <div class="col-xs-9" style="text-align: center;">
    <div class="form-area" >
      <form action="/772c12f279a2fa980ae7683933d070d0a7a6502f8a319b4503572ab819d25ba143e56aa9f77a14ee97217293736e194a" method="POST">
      <br style="clear: both">
        <h3 style="margin-bottom: 25px; text-align: center; font-size: 30px;"> PREDICTION </h3>
        <div class="form-group">
          <label id="label">Job involvement</label>
          <input type="text" class="form-control" id="input" name="input1" placeholder="1-5" >
        </div>
        <div class="form-group">
          <label id="label">Feedbacks </label>
          <input type="text" class="form-control" id="input" name="input2" placeholder="1-5" >
        </div>
        <div class="form-group">
          <label id="label">Experience</label>
          <input type="text" class="form-control" id="input" name="input3" placeholder="1-25" >
        </div>
        <div class="form-group">
          <label id="label">Ticket solving management</label>
          <input type="text" class="form-control" id="input" name="input4" placeholder="1- 5">
        </div>
        <div class="form-group">
          <label id="label">On time delivery </label>
          <input type="text" class="form-control" id="input" name="input5" placeholder=" 1-5" >
        </div>
        <div class="form-group">
          <label id="label">environment satisfaction</label>
          <input type="text" class="form-control" id="input" name="input6" placeholder="1-5" >
        </div>
        <div class="form-group">
          <label id="label">Pysco social indicators</label>
          <input type="text" class="form-control" id="input" name="input7" placeholder="1-5">
        </div>
        <div class="form-group">
          <label id="label">Training time</label>
          <input type="text" class="form-control" id="input" name="input8" placeholder="1-6">
        </div>
        <div class="form-group">
          <label id="label">working Hours</label>
          <input type="text" class="form-control" id="input" name="input9" placeholder="9-15">
        </div>
        <div class="form-group">
          <label id="label">Job satisfaction</label>
          <input type="text" class="form-control" id="input" name="input10" placeholder="1-5">
        </div>
        <div class="form-group">
          <label id="label">Project completed</label>
          <input type="text" class="form-control" id="input" name="input11" placeholder="1-16">
        </div>
        <div class="form-group">
        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right"> PREDICT </button>    
    </div>
      </form>
      </div>
  </div>
</div>
</body>
</html>